body {

  margin: 0px;
 
  background-color: white;
  
  font-family: Helvetica Neue, Century Gothic;
 
  color: black; }
  
  body a {
 
   color: #F92056;
   
   text-decoration: none; }
 
   body a:hover {
   
   color: yellow; }
  
  body .content {
 
   background: url("") no-repeat top right;
   
   height: 1398px;

   width: 1600px;
    
   margin: 0 0 0 auto;
    
   padding-left: 50px; }
    
   body .content h1 {
  
     font-weight: normal;

     padding: 25px 0 0;
     
     margin: 20px;
      
     font-size: 130px; }
  
   body .content p {
      
     font-size: 20px;
  
     margin: 8px 0 10px 10px;
  
     padding: 0px; }

